@use "../abstracts/variables";

.figure {
    width: 100%;
    height: 70rem;
    background: url('/img/Images - Index/Church-extra-small-min.png');
    background-position: bottom;

    text-align: center;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__tekstWrapper {
        padding: 5rem;
        box-sizing: border-box;
        text-align: center;
        text-transform: uppercase;
    }

    &__h2 {
        font-size: 175%;
    }

    &__link {
        text-decoration: none;
        transition: 0.3s all;
        color: map-get(variables.$fontColors,"whiteColor");
        
        &:hover {
            color: map-get(variables.$fontColors,"grayHoverColor");
        }
    }

    &__h4 {
        color: map-get(variables.$fontColors,"grayColor");
        font-size: 75%;
    }
}

.figure__withoutbackground {
    width: 100%;
    height: 20rem;
    text-align: center;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__tekstWrapper {
        padding: 5rem;
        box-sizing: border-box;
        text-align: center;
        text-transform: uppercase;
    }

    &__h2 {
        font-size: 175%;
    }

    &__link {
        text-decoration: none;
        transition: 0.3s all;
        color: map-get(variables.$fontColors,"whiteColor");
        
        &:hover {
            color: map-get(variables.$fontColors,"grayHoverColor");
        }
    }

    &__h4 {
        color: map-get(variables.$fontColors,"grayColor");
        font-size: 75%;
    }
}