<link rel="stylesheet" href="/css/style.min.css"/>
<script src="/js/index.min.js" defer></script>
<script src="https://kit.fontawesome.com/43e7afcfc9.js" crossorigin="anonymous"></script>

<nav class="navigation">
    <div class="navigation__wrapper">
        <a href="/">
            <img class="navigation__img" src="/img/Images - Index/LogoIrisMeijer.jpg" alt="Logo van Iris." />
        </a>

        <div class="navigation__subWrapper">
            <ul class="navigation__list">
                <li class="navigation__item item__dier">
                    <a class="navigation__link" href="/dier"> Dier &darr;</a>
                    <ul class="submenu__dier">
                        <li class="submenu__dier__item">
                            <a class="submenu__dier__link" href="/artis">Artis</a>
                        </li>
                    </ul>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link" href="/natuur"> Natuur </a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link" href="/product"> Product</a>
                </li>
                <li class="navigation__item item__vormgeving">
                    <a class="navigation__link" href="/vormgeving"> Vormgeving &darr;</a>
                    <ul class="submenu__vormgeving">
                        <li class="submenu__vormgeving__item">
                            <a class="submenu__vormgeving__link" href="/photoshop">Photoshop</a>
                        </li>
                    </ul>
                </li>
                <li class="navigation__item item__overmij">
                    <a class="navigation__link" href="/overMij"> Over mij &darr;</a>
                    <ul class="submenu__overmij">
                        <li class="submenu__overmij__item">
                            <a class="submenu__overmij__link" href="/examen/product">Examen Product</a>
                            <br>
                            <a class="submenu__overmij__link" href="/examen/3d">Examen 3D</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="navigation__buttonWrapper">
                <a class="navigation__button" id="navigation__button" href="/contact">Contact</a>
            </div>
        </div>

    </div>
</nav>