<link rel="stylesheet" href="/css/style.min.css" />
<script src="/js/index.min.js" defer></script>
<script src="https://kit.fontawesome.com/43e7afcfc9.js" crossorigin="anonymous"></script>

<nav class="navigation_new">
    <div class="navigation_new__wrapper">
        <a href="/">
            <img class="navigation_new__img" src="/img/Images - Index/LogoIrisMeijer.jpg" alt="Logo van Iris." />
        </a>

        <div class="navigation_new__wrap">
            <div class="navigation_new__subWrapper">
                <ul class="navigation_new__list">
                    <li class="navigation_new__item item__portfolio">
                        <button class="navigation_new__link navigation_new__link__plusMin"> Portfolio </button>
                            <ul class="submenu__portfolio">
                                <li class="submenu__portfolio__item item__artis item__plusMin">
                                    <a target="_self" class="submenu__portfolio__link navigation_new__link__plusMin" href="/dier">Dier </a>
                                    <ul class="submenu__artis">
                                        <li class="submenu__artis__item">
                                            <a target="_self" class="submenu__artis__link" href="/artis">Artis</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="submenu__portfolio__item">
                                    <a target="_self" class="submenu__portfolio__link" href="/natuur">Natuur</a>
                                </li>
                                <li class="submenu__portfolio__item">
                                    <a target="_self" class="submenu__portfolio__link" href="/product">Product</a>
                                </li>
                                <li class="submenu__portfolio__item item__photoshop item__plusMin">
                                    <a target="_self" class="submenu__portfolio__link navigation_new__link__plusMin" href="/vormgeving">Vormgeving </a>
                                    <ul class="submenu__photoshop">
                                        <li class="submenu__photoshop__item">
                                            <a target="_self" class="submenu__photoshop__link" href="/photoshop">Photoshop</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                    </li>

                    <li class="navigation_new__item item__overmij">
                        <button class="navigation_new__link navigation_new__link__plusMin" onclick="location.replace('/overMij')"> Over mij </button>
                        <ul class="submenu__overmij">
                            <li class="submenu__overmij__item">
                                <a target="_self" class="submenu__overmij__link" href="/examen/product">Examen Product</a>
                            </li>
                            <li class="submenu__overmij__item">
                                <a target="_self" class="submenu__overmij__link" href="/examen/graphics">Examen 3D</a>
                            </li>
                        </ul>
                    </li>

                    <li class="navigation__item">
                        <a target="_self" class="navigation__link" href="/verslag"> Stage Verslag </a>
                    </li>
                </ul>
            </div>

            <div class="navigation_new__buttonWrapper">
                <a target="_self" class="navigation_new__button" id="navigation_new__button" href="/contact">Contact</a>
            </div>
        </div>

        <a href="javascript:void(0);" class="navigation_new__bars" onclick="this.toggleResponsive()">&#9776;</a>
    </div>
</nav>