@media screen and (max-width: 1200px), screen and (max-device-width: 1200px) {
    .figure {
        height: 55vh
    }

    .main__overmij {
        height: 200vh;
        width: 100%;

        &__foto {
            height: 25rem;
            width: 35rem;
        }

        &__wrapper {
            flex-direction: column;
            width: 100%;
            height: 115rem;
        }

        &__tekst {
            width: 40ch;
            text-align: center;
        }

        &__buttonsWrapper  {
            height: 15rem;
            flex-direction: column;
            gap: 2rem;
        }
    }

    .spacing {
        display: none;
        width:100%;
        height:5%;
    }
}

@media screen and (max-width: 1000px), screen and (max-device-width: 1000px) {
    .main__contact {
        height: 200rem;

        &__wrapper {
            flex-direction: column;
        }

        &__formDoubleInputs {
            display: flex;
            flex-direction: column;
        }

        &__tekstInput {
            width: 42.5rem;
        }
    }


    .spacing {
        display: none;
        width: 0;
        height: 0;
    }
}   

@media screen and (max-width: 800px), screen and (max-device-width: 800px) {
    .main__index {
        &__foto {
            height: 20rem;
            width: 30rem;
        }
    }

    .navigation {
        flex-wrap: wrap;
        height: auto;

        &__list {
            flex-direction: column;
            gap: 2rem;
            margin-bottom: 2rem;
        }
    }

    .main__examenProduct {
        &__title {
            font-size: 125%;
        }

        &__paragraph {
            font-size: 90%;
            width: 35ch;
        }
    }

    .main__overmij {
        &__tekst {
            width: 30ch;
        }
    }

    .main__contact {
        &__tijden {
            width: 35ch;
            padding: 2.5rem;
            font-size: 100%;
            height: auto;
            text-align: center;
        }

        &__tekstInput, 
        &__emailInput,
        &__telefoonInput,
        &__berichtInput {
            width: 25rem;
        }

        &__formInputWrappers {
            justify-content: center;
            text-align: center;
            font-size: 95%;
        }
    }


    .spacing {
        display: none;
        width:100%;
        height:5%;
    }
}

@media screen and (max-width: 600px), screen and (max-device-width: 600px) {
    body  {
        font-size: 1.5rem;
    };

    .navigation {
        &__link {
            font-size: 100%;
        }
    }

    .spacing {
        display: none;
        width:100%;
        height:5%;
    }
}

@media screen and (min-width: 1600px), screen and (min-device-width: 1600px) {
    .main__index {
        &__foto {
            height: 60rem;
            width: 80rem;
        }
    }

    .main__dier, .main__artis {
        &__foto {
            &.foto__staand {
                height: 65rem;
                width: 45rem;
            }
    
            &.foto__liggend {
                height: 30rem;
                width: 45rem;
            }
        }
    }

    .main__natuur {
        &__foto {
            height: 30rem;
            width: 45rem;
        }
    }
}


