@use "variables";
@use "fonts";

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flexGallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-basis: 33.333333%;
}

@mixin blackButton {
    background: map-get(variables.$buttonColors, "blackGradient");
    background-color: map-get(variables.$buttonColors, "blackColor");
    border-radius: 4rem;
    border: 0.1rem solid map-get(variables.$buttonColors, "whiteBorder");
    display: inline-block;
    cursor: pointer;
    color: map-get(variables.$buttonColors, "whiteTekstColor");;
    font-family: Arial;
    font-size: 1.8rem;
    padding: 1.5rem 2.4rem;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        background: map-get(variables.$buttonColors, "blackGradient");
        background-color: map-get(variables.$buttonColors, "blackColor");
    }

    &:active {
        position: relative;
        top: 1px;
    }
}

@mixin fontFamily ($name) {
    @if ($name == 'Bookman Old Style') {
        font-family: 'Bookman Old Style', sans-serif;
    } @else {
        font-family: 'Andale Mono', sans-serif;
    }
}

@mixin standardCssDropdown {
    list-style: none;
    display: none;
    position: absolute;
    overflow: visible;
    width: auto;
    background: map-get(variables.$fontColors, "blackColor");

    &__item {
        float: none;
        overflow: hidden;
        padding: 1.5rem;
        font-size: 100%;
    }

    &__link {
        color: map-get(variables.$fontColors, "whiteColor");
        text-decoration: none;
        padding: 1rem;
        padding-left: 0;

        &:hover {
            color: map-get(variables.$fontColors, "orangeHoverColor");
        }
    }
}


@mixin standardCssSubDropdown {
    list-style: none;
    display: none;
    position: absolute;
    width: auto;
    background: map-get(variables.$fontColors, "blackColor");
    left: 160px;
    top: 0px;

    &__item {
        float: none;
        overflow: hidden;
        padding: 1.5rem;
        font-size: 100%;
    }

    &__link {
        color: map-get(variables.$fontColors, "whiteColor");
        text-decoration: none;
        padding: 1rem;
        padding-left: 0;

        &:hover {
            color: map-get(variables.$fontColors, "orangeHoverColor");
        }
    }
}

@mixin standardCssPsDropdown {
    list-style: none;
    display: none;
    position: absolute;
    width: auto;
    background: map-get(variables.$fontColors, "blackColor");
    left: 160px;
    top: 210px;

    &__item {
        float: none;
        overflow: hidden;
        padding: 1.5rem;
        font-size: 100%;
    }

    &__link {
        color: map-get(variables.$fontColors, "whiteColor");
        text-decoration: none;
        padding: 1rem;
        padding-left: 0;

        &:hover {
            color: map-get(variables.$fontColors, "orangeHoverColor");
        }
    }
}