$fontColors: (
    "blackColor": #000,
    "grayColor": rgb(105, 105, 105),
    "grayHoverColor": rgb(125, 125, 125),
    "orangeHoverColor": #708A66,//#e66842,
    "whiteColor": #eee
);

$colors: (
    "whiteColor": #eee,
    "blackColor": #000,
    "grayColor": rgb(225, 225, 225),
    "pureWhiteColor": #fff
);

$buttonColors: (
    "orangeBackground": #95A683,//#e66842,
    "darkRedBorder": #7fa752,//#942911,
    "orangeBoxShadow": #6a8d5c, //#cf866c,
    "textShadow": #95A683,//#854629,
    "hoverColor": #627151,//#bc3315,

    "blackGradient": linear-gradient(to bottom, #000000 5%, #000000 100%),
    "blackColor": #000,
    "whiteBorder": #dcdcdc,
    "whiteTekstColor": #dbdbdb
);

$scrolbarColors: (
    "track": #f1f1f1,
    "handle": #888,
    "handleHover": #555,
    "blackTrack": #000
);

$modalColors: (
    "fallbackBlack": rgb(0, 0, 0),
    "blackColor": rgba(0, 0, 0, 0.9),
    "whiteColor": #f1f1f1,
    "whiteHoverColor": #bbb,

    "blackColorTwo": rgba(0, 0, 0, 0.4),
    "grayBorder": #888,
    "whiteBackGroundColor": #fefefe
);