@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../abstracts/fonts";

.main__index {
    width: 100%;
    height: 70%;
    text-align: center;
    @include mixins.flexCenter;
    gap: 7rem;
    padding: 4rem;
    background: map-get(variables.$colors, 'whiteColor');

    &__title {
        text-align: center;
        width: 100%;
        @include mixins.fontFamily('Bookman Old Style')
    }

    &__gallery {
        @include mixins.flexGallery;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        gap: 2rem;
    }

    &__foto {
        height: 35rem;
        width: 55rem;
        border-radius: 1rem;
        transition: 0.3s all;
    }
}

.main__dier {
    width: 100%;
    height: 70%;
    text-align: center;
    @include mixins.flexCenter;
    gap: 7rem;
    padding: 4rem;
    background: map-get(variables.$colors, 'whiteColor');
    
    &__title {
        text-align: center;
        width: 100%;
        @include mixins.fontFamily('Bookman Old Style')
    }

    &__gallery {
        @include mixins.flexGallery;
        width: 100%;
        height: 100%;
        gap: 2rem;
    }

    &__foto {
        border-radius: 1rem;
        transition: 0.3s all;

        &.foto__staand {
            height: 55rem;
            width: 35rem;
        }

        &.foto__liggend {
            height: 25rem;
            width: 35rem;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__artisButton {
        width: 100%;
        height: 10rem;
        padding: 5rem;
        margin: 1rem;
        @include mixins.flexCenter;
        text-align: center;
    }

    &__button {
        @include mixins.blackButton;
    }
}

.main__natuur {
    width: 100%;
    height: 70%;
    @include mixins.flexCenter;
    text-align: center;
    gap: 7rem;
    padding: 4rem;
    background: map-get(variables.$colors, 'whiteColor');
    
    &__title {
        text-align: center;
        width: 100%;
        @include mixins.fontFamily('Bookman Old Style');
    }

    &__gallery {
        @include mixins.flexGallery;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        gap: 2rem;
    }

    &__foto {
        height: 25rem;
        width: 35rem;
        border-radius: 1rem;
        transition: 0.3s all;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
}

.main__product {
    width: 100%;
    height: 70%;
    text-align: center;
    @include mixins.flexCenter;
    gap: 7rem;
    padding: 4rem;
    background: map-get(variables.$colors, 'whiteColor');
    padding-bottom: 10rem;
    
    &__title {
        text-align: center;
        width: 100%;
        @include mixins.fontFamily('Bookman Old Style')
    }

    &__gallery {
        @include mixins.flexGallery;
        width: 100%;
        height: 100%;
        gap: 2rem;
    }

    &__foto {
        border-radius: 1rem;
        transition: 0.3s all;

        &.foto__staand {
            height: 55rem;
            width: 35rem;
        }

        &.foto__liggend {
            height: 35rem;
            width: 50rem;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}

.main__vormgeving {
    width: 100%;
    height: 70%;
    text-align: center;
    @include mixins.flexCenter;
    gap: 7rem;
    padding: 4rem;
    background: map-get(variables.$colors, 'whiteColor');
    padding-bottom: 10rem;
    
    &__title {
        text-align: center;
        width: 100%;
        @include mixins.fontFamily('Bookman Old Style')
    }

    &__gallery {
        @include mixins.flexGallery;
        flex-basis: 50%;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        gap: 2rem;
    }

    &__foto {
        border-radius: 1rem;
        transition: 0.3s all;

        &.foto__staand {
            height: 82.5rem;
            width: 52.5rem;
        }

        &.foto__liggend {
            height: 35rem;
            width: 52.5rem;
        }

        &.foto__vierkant {
            height: 45rem;
            width: 45rem;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}

.main__photoshop {
    width: 100%;
    height: 70%;
    text-align: center;
    @include mixins.flexCenter;
    gap: 7rem;
    padding: 4rem;
    background: map-get(variables.$colors, 'whiteColor');
    padding-bottom: 10rem;
    
    &__title {
        text-align: center;
        width: 100%;
        @include mixins.fontFamily('Bookman Old Style')
    }

    &__gallery {
        @include mixins.flexGallery;
        width: 100%;
        height: 100%;
        gap: 2rem;
    }

    &__foto {
        border-radius: 1rem;
        transition: 0.3s all;

        &.foto__staand {
            height: 82.5rem;
            width: 52.5rem;
        }

        &.foto__liggend {
            height: 35rem;
            width: 52.5rem;
        }

        &.foto__vierkant {
            height: 52.5rem;
            width: 52.5rem;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}

.main__overmij {
    width: 100%;
    height: 75rem;
    padding: 4rem;
    background: map-get(variables.$colors, "whiteColor");

    &__title {
        text-align: center;
        width: 100%; 
        @include mixins.fontFamily('Bookman Old Style');
    }

    &__wrapper {
        @include mixins.flexCenter;
        flex-direction: row;
        gap: 5rem;
        width: 100%;
        height: 75%;
    }
    
    &__foto {
        height: 40rem;
        width: 60rem;
        border-radius: 1rem;
    }

    &__tekst {
        width: 50ch;
    }

    &__paragraph {
        color: map-get(variables.$fontColors, "blackColor");
        font-weight: 500;
        line-height: 2.2rem;
        letter-spacing: 0.1rem;
        font-size: 1.5rem;
    }

    &__buttonsWrapper {
        height: 10rem;
        width: 100%;
        @include mixins.flexCenter;
        flex-direction: row;
        gap: 10rem;
    }

    &__examenButton {
        @include mixins.blackButton;
    }
}

.main__contact {
    height: 135rem;
    width: 100%;
    padding: 4rem;
    background: map-get(variables.$colors, "whiteColor");

    &__title {
        text-align: center;
        width: 100%;
        margin-bottom: 5rem;
        @include mixins.fontFamily('Bookman Old Style');
    }

    &__gegevens, &__socialTitle {
        padding-bottom: 2rem;
        text-decoration: underline;
        font-size: 125%;
        @include mixins.fontFamily('Bookman Old Style');
    }

    &__wrapper {
        @include mixins.flexCenter;
        flex-direction: row;
        height: 40%;
        width: 100%;
        gap: 5rem;
    }
    &__methods {
        @include mixins.flexCenter;
        align-items:flex-start;
        height: 50%;   
        text-align: left;
        gap: 1rem;
    }

    &__contentWrapper {
        @include mixins.flexCenter;
        flex-direction: row;
        gap: 1rem;
    }

    &__linkWrapper {
        @include mixins.flexCenter;
        flex-direction: row;
        gap: 1.5rem;
        text-align: center;
    }

    &__tijdenWrapper {
        @include mixins.flexCenter;
        gap: 3rem;
    }

    &__tijden {
        width: 50ch;
        font-size: 80%;
        background: map-get(variables.$colors, "grayColor");
        padding: 4rem;
        border-radius: 1rem;
    }

    &__downloadCvButton {
        @include mixins.blackButton;
    }

    &__link {
        text-decoration: none;
        color: map-get(variables.$fontColors, "blackColor");
        transition: 0.3s all;

        &:hover {
            text-decoration: underline;
            color: map-get(variables.$fontColors, "grayHoverColor");
        }
    }


    &__formArticle {
        height: 50%;
        width: 100%;
        background: map-get(variables.$colors, "whiteColor");
        @include mixins.flexCenter;
        gap: 2rem
    }

    &__form {
        @include mixins.flexCenter;
        align-items: flex-start;
        gap: 2rem;

        &Title {
            @include mixins.fontFamily('Bookman Old Style');
        }
    }

    &__inputLabel {
        font-weight: bold;
        font-size: 110%;
    }

    &__tekstInput {
        width: 20rem; 
        font-size: 1.5rem;
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 0.3rem;
        outline: none;
        border: none;
        background: map-get(variables.$colors, "pureWhiteColor");
        border-bottom: 0.1rem solid transparent;

        &:focus {
            border-bottom: 0.1rem solid map-get(variables.$colors, "blackColor");
        }
    }

    &__emailInput {
        width: 42.5rem; 
        font-size: 1.5rem;
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 0.3rem;
        outline: none;
        border: none;
        background: map-get(variables.$colors, "pureWhiteColor");
        border-bottom: 0.1rem solid transparent;

        &:focus {
            border-bottom: 0.1rem solid map-get(variables.$colors, "blackColor");
        }
    }

    &__telefoonInput {
        width: 42.5rem; 
        font-size: 1.5rem;
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 0.3rem;
        outline: none;
        border: none;
        background: map-get(variables.$colors, "pureWhiteColor");
        border-bottom: 0.1rem solid transparent;

        &:focus {
            border-bottom: 0.1rem solid map-get(variables.$colors, "blackColor");
        }
    }

    &__berichtInput {
        width: 42.5rem; 
        font-size: 1.5rem;
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 0.3rem;
        outline: none;
        border: none;
        background: map-get(variables.$colors, "pureWhiteColor");
        border-bottom: 0.1rem solid transparent;
        resize: none;

        &:focus {
            border-bottom: 0.1rem solid map-get(variables.$colors, "blackColor");
        }
    }
    &__formButtonWrapper {
        @include mixins.flexCenter;
        width: 100%;
    }

    &__formSubmitButton {
        width: 50%;
        @include mixins.blackButton;
    }
}

.main__artis {
    width: 100%;
    height: 70%;
    text-align: center;
    @include mixins.flexCenter;
    gap: 7rem;
    padding: 4rem;
    background: map-get(variables.$colors, 'whiteColor');
    
    &__title {
        text-align: center;
        width: 100%;
        @include mixins.fontFamily('Bookman Old Style');
    }

    &__gallery {
        @include mixins.flexGallery;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        gap: 2rem;
    }

    &__foto {
        height: 55rem;
        width: 35rem;
        border-radius: 1rem;
        transition: 0.3s all;

        &:hover {
            opacity: 0.7;
        }
    }

    &__artisButton {
        width: 100%;
        height: 10rem;
        padding: 5rem;
        margin: 1rem;
        @include mixins.flexCenter;
        text-align: center;
    }

    &__button {
        @include mixins.blackButton;
    }
}

.main__examenProduct {
    width: 100%;
    height: 70%;
    text-align: center;
    @include mixins.flexCenter;
    gap: 7rem;
    padding: 4rem;
    background: map-get(variables.$colors, 'whiteColor');
    padding-bottom: 10rem;
    
    &__title {
        text-align: center;
        width: 100%;
        font-size: 175%;
        text-transform: uppercase;
        @include mixins.fontFamily('Bookman Old Style');
    }

    &__paragraph {
        width: 50ch;
    }

    &__subTitle {
        @include mixins.fontFamily('Bookman Old Style');
    }

    &__gallery {
        @include mixins.flexGallery;
        width: 100%;
        height: 100%;
        gap: 2rem;
    }

    &__foto {
        height: 20%;
        width: 30%;
        border-radius: 1rem;
        transition: 0.3s all;

        &.foto__staand {
            height: 65rem;
            width: 45rem;
        }

        &.foto__liggend {
            height: 32.5rem;
            width: 45rem;
        }

        &.foto__liggend__detail {
            height: 15rem;
            width: 40rem; 
        }

        &:hover {
            opacity: 0.7;
        }
    }
}

.main__examen3D {
    width: 100%;
    height: 70%;
    text-align: center;
    @include mixins.flexCenter;
    gap: 7rem;
    padding: 4rem;
    background: map-get(variables.$colors, 'whiteColor');
    
    &__title {
        text-align: center;
        width: 100%;
        font-size: 200%;
        font-weight: bold;
        @include mixins.fontFamily('Bookman Old Style');
    }

    &__paragraph {
        text-decoration: underline;
        letter-spacing: 0.1rem;
        font-size: 80%;
    }
}