@use "../abstracts/variables";
@use "../abstracts/mixins";

.submenu {
  &__portfolio {
    @include mixins.standardCssDropdown;
  }

  &__overmij {
    @include mixins.standardCssDropdown;
  }
  
  &__artis {
    @include mixins.standardCssSubDropdown;
  }

  &__photoshop {
    @include mixins.standardCssPsDropdown;
  }
}

.item {
  &__portfolio:hover .submenu__portfolio {
    display: block;
  }
  
  &__artis:hover .submenu__artis {
    display: block;
  }

  &__photoshop:hover .submenu__photoshop {
    display: block;
  }

  &__overmij:hover .submenu__overmij {
    display: block;
  }
}
