@use "../abstracts/variables";
@use "../abstracts/mixins";

.submenu {
    &__dier,
    &__overmij,
    &__vormgeving {
        @include mixins.standardCssDropdown;
    }
}

.item {
    &__dier:hover .submenu__dier{
        display: block;
    }

    &__overmij:hover .submenu__overmij{
        display: block;
    }

    &__vormgeving:hover .submenu__vormgeving{
        display: block;
    }
}