@use "../../abstracts/variables";
@use "../../abstracts/mixins";
@use "../../abstracts/fonts";

.main__index {
    width: 100%;
    height: 70%;
    text-align: center;
    @include mixins.flexCenter;
    gap: 7rem;
    padding: 4rem;
    background: map-get(variables.$colors, 'whiteColor');

    &__title {
        text-align: center;
        width: 100%;
        @include mixins.fontFamily('Bookman Old Style')
    }

    &__gallery {
        @include mixins.flexGallery;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        gap: 2rem;
    }

    &__foto {
        height: 35rem;
        width: 55rem;
        border-radius: 1rem;
        transition: 0.3s all;
    }
}